body { 
  display: grid;
  grid-template-areas: 
    "header header header"
    "nav article article "
    "footer footer footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 20% 1fr 15%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0px;
  text-align: center;
  }
  header, footer, nav, article {
  background: #addfee;
  }
  div {
  background: #FE7600;
  }
  h2 {display: flex;
  align-items: center;
  justify-content: center
  }
	  
  .item_a {
  height: 30%;
  margin: 10px 0px 15px 70%;
  }
  .item_b {
  height: 30%;
  margin: 0px;
  }
  .block_1 {
  height: 65%;
  margin: 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center
  }
  .block_2{
  height: 33.5%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center
  }
  .item_1{
  height: 50%;
  margin: 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center
  }
  .item_2{
  height: 15%;
  margin: 0px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center
  }
  .item_3{
  height: 10%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center
  }
  .block_a, .block_b, .block_c{
  width: 32.8%;
  height: 80%;
  margin: 5px 0px 5px 5px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center
  }
 .p {
  display: flex;
  align-items: center;
  justify-content: center }
 

#pageHeader {
  grid-area: header;
}
#pageFooter {
  grid-area: footer;
}
#mainArticle { 
  grid-area: article;      
  }
#maiNav { 
  grid-area: nav; 
  }
